black
ruff
mypy
tox
sphinx
structlog
pytest
pytest-snapshot
pytest-structlog
line_profiler
memory_profiler
numpy
scipy
statsmodels
matplotlib
openpyxl
python-dotenv
psycopg[binary]
sqlalchemy
pandas[performance, plot, computation, excel, hdf5]
polars-lts-cpu
ibis-framework[pandas, polars]
japanize-matplotlib
seaborn
fastcluster
statannotations
requests
scikit-learn
jupyterlab
ipywidgets
ipympl
ipytest
pygwalker
pydantic
sqlmodel
sqlacodegen
pandera[polars]
rdkit
biopython
bioinfokit
anndata
scanpy[leiden]
